<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Exemptax_Integration::config"
                                      title="EXEMPTAX Integration"
                                      sortOrder="90"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Exemptax_Integration::webhook_settings"
                          title="EXEMPTAX Webhook Settings API"
                          sortOrder="91"/>
            </resource>
        </resources>
    </acl>
</config>
